

@model ScoreMe.UI.Models.UserVM
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "";
}

<div class="col-sm-1 col-sm-offset-11" style="position: absolute;">
    <span class="label label-danger pull-right badgemargin">@Model.listCount</span>
</div>

<table class="table table-bordered">
    <tbody>

        @if (Model.RUserList != null)
        {
            foreach (var item in Model.RUserList)
            {
                <tr>
                    <td class="col-md-2">
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td class="col-md-2">
                        @Html.DisplayFor(modelItem => item.UserTypeDesc)
                    </td>
                    <td class="col-md-2">

                        @if (item.AccountLocked != null)
                        {
                            if (item.AccountLocked == 1)
                            {
                                Write("Bəli");
                            }
                            else if (item.AccountLocked == 0)
                            {
                                Write("Xeyr");
                            }
                        }
                        else
                        {
                            Write("");
                        }
                    </td>
                    <td class="col-md-1 shsingle text-center" style="font-size:16px;">
                        <a class="btn  btn-primary active btn-xs" data-toggle="tooltip" href="@Url.Action("Edit","User", new { id = item.UserID})"><span title="Redaktə et" class="fa fa-pencil"></span></a>
                        <span title="Sil"> @Html.ActionLink(" ", "Delete", "User", new { id = item.UserID }, new { @onclick = "return confirm('Silmək istədiyinizə əminsinizmi');", @class = "glyphicon glyphicon-trash" })</span>
                        <a class="btn  btn-primary active btn-xs" data-toggle="tooltip" href="@Url.Action("Index","AccessRight", new { userId = item.UserID})"><span title="Detallar" class="fa fa-th-list"></span></a>
                    </td>

                </tr>

            }
        }
    </tbody>
</table>



<div class="box-footer clearfix">
    Səhifə @(Model.Paging.PageCount < Model.Paging.PageNumber ? 0 : Model.Paging.PageNumber) (cəmi @Model.Paging.PageCount)
    @Html.PagedListPager(Model.Paging, page => Url.Action("Index", new { page }))
</div>


