


@model ScoreMe.UI.Models.EmployeeVM
@{
    ViewBag.Title = "İşçi redakte et ekranı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="row">

            <div class="col-md-4">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(x => Model.UserID, new SelectList(Model.UserList, "Value", "Text"), htmlAttributes: new { @class = "select2 form-control", tabindex = 8 })
                @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", tabindex = 6 } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", tabindex = 6 } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.FatherName, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.FatherName, new { htmlAttributes = new { @class = "form-control", tabindex = 7 } })
                @Html.ValidationMessageFor(model => model.FatherName, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">

                @Html.LabelFor(model => model.GenderType, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(x => Model.GenderType, new SelectList(Model.GenderTypeList, "Value", "Text"), htmlAttributes: new { @class = "select2 form-control", tabindex = 8 })
                @Html.ValidationMessageFor(model => model.GenderType, "", new { @class = "text-danger" })

            </div>
            <div class="clearfix"></div>
            <br />
        </div>


        <div class="row">
            <div class="col-md-6 control-label">
                @Html.ActionLink("Listə Geri Dön", "Index", "Employee", null, new { @class = "btn btn-primary btn-lg btn-block" })

            </div>
            <div class="col-md-6 control-label">
                <input id="frmEmployee" type="submit" value="Dəyiş" class="btn btn-primary btn-lg btn-block" tabindex="16" />

            </div>
        </div>
    </div>
}


