
@model ScoreMe.UI.Models.OperatorInformationVM
@{
    ViewBag.Title = "Operator məlumatlarının əlavə edilməsi ekranı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.OperatorTypeEVID, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(x => Model.OperatorTypeEVID, new SelectList(Model.OperatorTypeList, "Value", "Text"), htmlAttributes: new { @class = "select2 form-control", tabindex = 1 })
                @Html.ValidationMessageFor(model => model.OperatorTypeEVID, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(x => Model.Name, new SelectList(Model.OperatorPrefixList, "Value", "Text"), htmlAttributes: new { @class = "select2 form-control", tabindex = 2 })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.OperatorChanelTypeEVID, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(x => Model.OperatorChanelTypeEVID, new SelectList(Model.OperatorChanelTypeList, "Value", "Text"), htmlAttributes: new { @class = "select2 form-control", tabindex = 3 })
                @Html.ValidationMessageFor(model => model.OperatorChanelTypeEVID, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.InOutTypeEVID, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(x => Model.InOutTypeEVID, new SelectList(Model.InOutTypeList, "Value", "Text"), htmlAttributes: new { @class = "select2 form-control", tabindex = 4 })
                @Html.ValidationMessageFor(model => model.InOutTypeEVID, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", tabindex = 5 } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })

            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Point, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Point, new { htmlAttributes = new { @class = "form-control", tabindex = 6 } })
                @Html.ValidationMessageFor(model => model.Point, "", new { @class = "text-danger" })

            </div>


        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-6 control-label">
                @Html.ActionLink("Listə Geri Dön", "Index", "OperatorInformation", null, new { @class = "btn btn-primary btn-lg btn-block" })
            </div>
            <div class="col-md-6 control-label">
                <input id="frmPosition" type="submit" value="Yarat" class="btn btn-primary btn-lg btn-block" tabindex="9" />
            </div>
        </div>
    </div>
}



