
@{
    ViewBag.Title = "ReportIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ReportIndex</h2>


@model IEnumerable<ScoreMe.DAL.DTO.SMSReportDTO>

@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "";
}




@*<div class="col-sm-1 col-sm-offset-11" style="position: absolute;">
        <span class="label label-danger pull-right badgemargin">@Model.ListCount</span>
    </div>*@

<table class="table table-bordered">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.January)
                </td>
                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.February)
                </td>
                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.March)
                </td>
                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.April)
                </td>
                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.May)
                </td>
                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.June)
                </td>
                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.July)
                </td>
                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.August)
                </td>
                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.September)
                </td>
                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.October)
                </td>
                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.November)
                </td>
                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.December)
                </td>

                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.Average)
                </td>
            </tr>
        }
    </tbody>
</table>




