
@model ScoreMe.UI.Models.PackageVM
@{
    ViewBag.Title = "Əlaqə vasitəsi əlavə et ekranı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-4">
                @Html.HiddenFor(model => model.PackageID)
                @Html.LabelFor(model => model.Source_EVID, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(x => Model.Source_EVID, new SelectList(Model.SourceEVList, "Value", "Text"), htmlAttributes: new { @class = "select2 form-control", tabindex = 1 })
                @Html.ValidationMessageFor(model => model.Source_EVID, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">

                @Html.LabelFor(model => model.BeginDate, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.BeginDate, new { htmlAttributes = new { @class = "form-control", tabindex = 2 } })
                @Html.ValidationMessageFor(model => model.BeginDate, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">

                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", tabindex = 3 } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">

                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", tabindex = 4 } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">

                @Html.LabelFor(model => model.Point, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Point, new { htmlAttributes = new { @class = "form-control", tabindex = 5 } })
                @Html.ValidationMessageFor(model => model.Point, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-6 control-label">
                @Html.ActionLink("Listə Geri Dön", "PriceIndex", "Package", new { packageID = Model.PackageID }, new { @class = "btn btn-primary btn-lg btn-block" })

            </div>
            <div class="col-md-6 control-label">
                <input id="frmEmployee" type="submit" value="Yarat" class="btn btn-primary btn-lg btn-block" tabindex="16" />

            </div>
        </div>
    </div>
}

