@model ScoreMe.UI.Models.UserPhoneVM
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "";
}




<div class="col-sm-1 col-sm-offset-11" style="position: absolute;">
    <span class="label label-danger pull-right badgemargin">@Model.ListCount</span>
</div>

<table class="table table-bordered">
    <tbody>
        @foreach (var item in Model.RUserPhoneList)
        {
        <tr>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.UserName)
            </td>

            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
      
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.ModelName)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.ModelNumber)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.IMEI1)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.IMEI2)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.OSName)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.OSVersion)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.InsertDate)
            </td>
        </tr>
        }
    </tbody>
</table>


<div class="box-footer clearfix">
    Səhifə @(Model.Paging.PageCount < Model.Paging.PageNumber ? 0 : Model.Paging.PageNumber) (cəmi @Model.Paging.PageCount)
    @Html.PagedListPager(Model.Paging, page => Url.Action("Index", new { page }))
</div>

