
@model IEnumerable<ScoreMe.DAL.DTO.SMSReportShortDTO>

@using PagedList.Mvc;

@{
    ViewBag.Title = "_PartialReport";
    Layout = "";
}
@{
    if (Model.Count() > 0)
    {


        <table id="example" class="table table-striped table-bordered nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Servis Saxlayıcı</th>
                    <th>Xərt tipi</th>
                    <th>Məbləg</th>
                    <th>Valyuta</th>
                    <th>Kart Nömrəsi</th>
                    <th>İşləmə tarixi</th>
                    <th>İşləmə yeri</th>
                    <th>Balans</th>
                    <th>Balans valyuta</th>
                    
                </tr>
            </thead>
            <tbody>

                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SenderName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsExpenseDesc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Currency)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CardNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OperationDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MerchantName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Balance)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BalanceCurrency)
                            </td>
                            
                           
                        </tr>
                    }

                }
            </tbody>
        </table>
    }
    else
    {
        <span> Seçilən parapetrələrə uyğun məlumat tapılmadı</span>
    }
}
<script>
    $(document).ready(function () {
        var table = $('#example').DataTable({
            fixedHeader: {
                header: true,
                footer: true
            },
            order: [],
            pageLength: 50,
            scrollY: "300px",
            scrollX: true,
            scrollCollapse: true,
            paging: true,
            fixedColumns: true
        });
    });
</script>
