@model ScoreMe.UI.Models.SMSReportVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">

    @@media (min-width: 992px) {
        .container-scroll > .row {
            overflow-x: auto;
            white-space: nowrap;
        }

            .container-scroll > .row > .col-md-2 {
                display: inline-block;
                float: none;
            }
    }

    .container-scroll > .row {
        margin-top: 24px;
    }

        .container-scroll > .row > .col-md-2 {
            font-weight: bold;
            text-align: center;
        }
</style>


    <div class="row">
        <div class="col-md-12">
            <div class="clearfix"></div><br />

            <div class="well bs-component">


                <div class="panel panel-default">
                    <div class="panel-heading">Axtarış parametrələri</div>
                    <div class="panel-body">
                        <div class="row">
                            @using (Ajax.BeginForm("AjaxSearch", "SMSReport", new AjaxOptions
                            {
                                InsertionMode = InsertionMode.Replace,
                                HttpMethod = "GET",
                                OnFailure = "searchFailed",
                                LoadingElementId = "ajax-loader",
                                UpdateTargetId = "searchResult",

                            }))
                            {
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(x => Model.UserID, new SelectList(Model.UserList, "Value", "Text"), htmlAttributes: new { @class = "select2 form-control", id = "ApplicationType", tabindex = 13 })
                                    @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control", tabindex = 4 } })
                                    @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })

                                </div>

                                <div class="col-md-4">
                                    <br />
                                    <input type="submit" value="Axtar" class="btn btn-success" />
                                    <img id="ajax-loader"
                                         src="@Url.Content("~/assets/img/ajax_loader_blue_32.gif")"
                                         style="display:none" />
                                    <br />
                                    @*<div class="btn-group">
                                            <button id="BtnEOM" type="button" class="btn btn-primary">Ay sonu hesabla</button>
                                        </div>
                                        <div class="btn-group">
                                            <button id="BtnEOMDel" type="button" class="btn btn-danger">Ay sonu Sil</button>
                                        </div>*@
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="ajax-loader"></div>
            <div class="clearfix"></div>
            <div class="panel panel-default">
                <div class="panel-heading">Hesabat</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-bordered" style="margin:0;">
                                <tbody>
                                    <tr>
                                        <th class="col-md-2">
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>

                                        <th class="col-md-1">
                                            @Html.DisplayNameFor(model => model.January)
                                        </th>
                                        <th class="col-md-1">
                                            @Html.DisplayNameFor(model => model.February)
                                        </th>
                                        <th class="col-md-1">
                                            @Html.DisplayNameFor(model => model.March)
                                        </th>
                                        <th class="col-md-1">
                                            @Html.DisplayNameFor(model => model.April)
                                        </th>
                                        <th class="col-md-1">
                                            @Html.DisplayNameFor(model => model.May)
                                        </th>
                                        <th class="col-md-1">
                                            @Html.DisplayNameFor(model => model.June)
                                        </th>
                                        <th class="col-md-1">
                                            @Html.DisplayNameFor(model => model.July)
                                        </th>
                                        <th class="col-md-1">
                                            @Html.DisplayNameFor(model => model.August)
                                        </th>
                                        <th class="col-md-1">
                                            @Html.DisplayNameFor(model => model.September)
                                        </th>
                                        <th class="col-md-1">
                                            @Html.DisplayNameFor(model => model.October)
                                        </th>
                                        <th class="col-md-1">
                                            @Html.DisplayNameFor(model => model.November)
                                        </th>
                                        <th class="col-md-1">
                                            @Html.DisplayNameFor(model => model.December)
                                        </th>
                                        <th class="col-md-1">
                                            @Html.DisplayNameFor(model => model.Average)
                                        </th>
                                    </tr>


                                </tbody>
                            </table>

                            <div id="searchResult">
                                @*@Html.Partial("PartialIndex")*@
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

@section Scripts {
    <script>
        $(document).ready(function () {
            function searchFailed() {
                $("#searchResult").html("Sorry, there was a problem with the search.");
            }
        });
    </script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
