<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ScoreMe</title>

    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    <!--Basic Styles-->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />

    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/weather-icons.min.css" rel="stylesheet" />
    <link href="~/Content/smt-bootstrap.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/select2.min.css" rel="stylesheet" />
    <!--Fonts-->
    @*<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>*@
    <!--Beyond styles-->
    @*<link id="beyond-link" href="~/assets/css/beyond.min.css" rel="stylesheet" type="text/css" />*@
    <link href="~/assets/css/beyond.min.css" rel="stylesheet" />
    <link href="~/assets/css/demo.min.css" rel="stylesheet" />
    <link href="~/assets/css/typicons.min.css" rel="stylesheet" />
    <link href="~/assets/css/animate.min.css" rel="stylesheet" />

    <!--Page Related styles-->
    <link href="~/assets/css/dataTables.bootstrap.css" rel="stylesheet" />

    @*<script src="~/assets/js/jquery.min.js"></script>*@

    @Scripts.Render("~/Scripts/jquery-1.11.1.js")
    <script src="~/assets/js/bootstrap.min.js"></script>

    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="~/assets/js/skins.min.js"></script>
    <link href="~/Content/Customstyle.css" rel="stylesheet" />

    @RenderSection("styles", false)
</head>
<body>

    <!-- Loading Container -->
    <div class="loading-container">
        <div class="loader"></div>
    </div>
    <!--  /Loading Container -->
    <!-- Navbar -->
    @Html.Partial("_Navbar")
    <!-- /Navbar -->
    <!-- Main Container -->
    <div class="main-container container-fluid">
        <!-- Page Container -->
        <div class="page-container">

            @Html.Partial("_Sidebar")
            <!-- Page Content -->
            <div class="page-content">
                <div class="container-fluid">

                    <!-- Page Breadcrumb -->
                    @Html.Partial("_Breadcrumb")
                    <!-- /Page Breadcrumb -->
                    <!--Header Buttons-->
                    @Html.Partial("_Pageheader")
                    <!--Header Buttons End-->

                    @RenderBody()
                </div>

                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - ScoreMe development team</p>
                </footer>
            </div>
            <!-- /Page Content -->

        </div>
        <!-- /Page Container -->
        <!-- Main Container -->
    </div>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    <!--Basic Scripts-->


    <script src="~/Scripts/Custom.js"></script>


    @RenderSection("scriptsModal", required: false)

    <script src="~/assets/js/slimscroll/jquery.slimscroll.min.js"></script>


    <!--Beyond Scripts-->
    <script src="~/assets/js/beyond.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/select2.min.js"></script>


    <script type="text/javascript">
        $('.select2').select2();
    </script>
    <!--Page Related Scripts-->
    <!--Sparkline Charts Needed Scripts-->
    <script src="~/assets/js/charts/sparkline/jquery.sparkline.js"></script>
    <script src="~/assets/js/charts/sparkline/sparkline-init.js"></script>

    <!--Easy Pie Charts Needed Scripts-->
    <script src="~/assets/js/charts/easypiechart/jquery.easypiechart.js"></script>
    <script src="~/assets/js/charts/easypiechart/easypiechart-init.js"></script>

    <!--Flot Charts Needed Scripts-->
    <script src="~/assets/js/charts/flot/jquery.flot.js"></script>
    <script src="~/assets/js/charts/flot/jquery.flot.resize.js"></script>
    <script src="~/assets/js/charts/flot/jquery.flot.pie.js"></script>
    <script src="~/assets/js/charts/flot/jquery.flot.tooltip.js"></script>
    <script src="~/assets/js/charts/flot/jquery.flot.orderBars.js"></script>



    @Scripts.Render("~/Scripts/bootstrap-datepicker.js")
    @*<script src="~/Scripts/jquery-ui.min.js"></script>*@
    @Scripts.Render("~/Scripts/jquery-ui-1.12.1.js")
    @Scripts.Render("~/Scripts/jquery-ui-i18n.min.js")


    <script>
        $().ready(
            function () {
                var options = $.extend({},
                    $.datepicker.regional["az"], {
                    dateFormat: "dd-mm-yy",
                    changeMonth: true,
                    changeYear: true,
                    highlightWeek: true,
                    showButtonPanel: true,
                    setDate: new Date(),
                    maxDate: new Date()
                }
                );
                $("input[type=datetime]").datepicker(options);
            }
        );
    </script>

    <script type="text/javascript">
          $(document).ready(function () {

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "showDuration": "1000",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
            var deyer = '@TempData["success"]';
            if (deyer == 'Ok')
            {
                toastr.success('@TempData["message"]','@TempData["title"]');
            }
            else if (deyer == 'notOk')
            {
                toastr.error('@TempData["message"]');
            }
    });
    </script>

    @{
        TempData["success"] = null;
        TempData["message"] = "";
    }


    @RenderSection("scripts", required: false)
</body>
</html>
