
@model ScoreMe.UI.Models.ProviderVM
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "";
}




<div class="col-sm-1 col-sm-offset-11" style="position: absolute;">
    <span class="label label-danger pull-right badgemargin">@Model.ListCount</span>
</div>

<table class="table table-bordered">
    <tbody>
        @foreach (var item in Model.RProviderList)
        {
        <tr>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.TypeDesc)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.RelatedPersonName)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.RelatedPersonPhone)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.RelatedPersonProfession)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.VOEN)
            </td>
            <td class="col-md-1 shsingle text-center" style="font-size:16px;">
                <a class="btn btn-primary active btn-xs" data-toggle="tooltip" title="Təkliflərin listi" href="@Url.Action("ProposalIndex","Provider", new { providerId = item.ID})"><span class="fa fa-th-list"></span></a>
                @*<a class="btn btn-primary active  btn-xs" title="Redaktə et" href="@Url.Action("Edit","ApplicationInformation", new { id = item.ID})"><span class="fa fa-pencil"></span></a>
                <span title="Sil"> @Html.ActionLink(" ", "Delete", "ApplicationInformation", new { id = item.ID }, new { @onclick = "return confirm('Silmək istədiyinizə əminsinizmi?.');", @class = "glyphicon glyphicon-trash" })</span>*@
            </td>

        </tr>
        }
    </tbody>
</table>


<div class="box-footer clearfix">
    Səhifə @(Model.Paging.PageCount < Model.Paging.PageNumber ? 0 : Model.Paging.PageNumber) (cəmi @Model.Paging.PageCount)
    @Html.PagedListPager(Model.Paging, page => Url.Action("Index", new { page }))
</div>






